# ShellCheck configuration file
# For more information, visit: https://github.com/koalaman/shellcheck/wiki/optional

# Specify the shell dialect to use (sh vs bash).
--shell=bash

# Enable specific ShellCheck checks

# name:    add-default-case
# desc:    Suggest adding a default case in `case` statements
# example: case $? in 0) echo 'Success';; esac
# fix:     case $? in 0) echo 'Success';; *) echo 'Fail' ;; esac
enable=add-default-case          # Suggest adding a default case in `case` statements

# name:    avoid-nullary-conditions
# desc:    Suggest explicitly using -n in `[ $var ]`
# example: [ "$var" ]
# fix:     [ -n "$var" ]
enable=avoid-nullary-conditions  # Warn about conditions that are always true or false

# name:    check-unassigned-uppercase
# desc:    Warn when uppercase variables are unassigned
# example: echo $VAR
# fix:     VAR=hello; echo $VAR
enable=check-unassigned-uppercase # Check for unassigned uppercase variables

# name:    quote-safe-variables
# desc:    Suggest quoting variables without metacharacters
# example: var=hello; echo $var
# fix:     var=hello; echo "$var"
enable=quote-safe-variables      # Ensure variables are safely quoted

# name:    require-double-brackets
# desc:    Require [[ and warn about [ in Bash/Ksh
# example: [ -e /etc/issue ]
# fix:     [[ -e /etc/issue ]]
enable=require-double-brackets   # Require the use of double brackets [[ ]] for conditionals

# name:    require-variable-braces
# desc:    Suggest putting braces around all variable references
# example: var=hello; echo $var
# fix:     var=hello; echo ${var}
# shellcheck disable=SC2034
enable=require-variable-braces   # Require braces around variable names

# Unused

# name:    check-extra-masked-returns
# desc:    Check for additional cases where exit codes are masked
# example: rm -r "$(get_chroot_dir)/home"
# fix:     set -e; dir="$(get_chroot_dir)"; rm -r "$dir/home"

# name:    check-set-e-suppressed
# desc:    Notify when set -e is suppressed during function invocation
# example: set -e; func() { cp *.txt ~/backup; rm *.txt; }; func && echo ok
# fix:     set -e; func() { cp *.txt ~/backup; rm *.txt; }; func; echo ok
