<?xml version="1.0" encoding="utf-8"?>
    <packages>
        <package id="" />

        <!--Dev Frameworks & Languages-->
        <package id="android-sdk" />
        <package id="dotnetcore" />
        <package id="epicgameslauncher" />
        <package id="golang" />
        <package id="gradle" />
        <package id="jdk8" />
        <package id="kotlin" />
        <package id="maven" />
        <package id="monogame" />
        <package id="mysql" />
        <package id="nodejs" />
        <package id="python2" />
        <package id="python3" />
        <package id="r.project" />
        <package id="renpy" />
        <package id="unity" />
        <package id="unity-android" />
        <package id="unity-docs" />
        <package id="unity-example-project" />
        <package id="unity-linux" />
        <package id="unity-mac" />
        <package id="unity-metro" />
        <package id="unity-standard-assets" />

        <!--IDEs and Editors-->
        <package id="android-studio" />
        <package id="conemu" />
        <package id="intellijidea-ultimate" />
        <package id="pycharm" />
        <package id="resharper-clt" />
        <package id="resharper-platform" />
        <package id="sql-server-management-studio" />
        <package id="vim" />
        <package id="visualstudio2017community" />
        <package id="visualstudiocode" />
        <package id="webstorm" />
        <package id="xamarin" />
        <package id="xamarin-visualstudio" />

        <!--Utilities-->
        <package id="7zip" />
        <package id="audacity" />
        <package id="autohotkey" />
        <package id="blender" />
        <package id="calibre" />
        <package id="ccleaner" />
        <package id="clink" />
        <package id="deluge" />
        <package id="devbox-rapidee" />
        <package id="f.lux" />
        <package id="ffmpeg" />
        <package id="filebot" />
        <package id="geforce-experience" />
        <package id="gimp" />
        <package id="git" />
        <package id="gpg4win" />
        <package id="gpg4win" />
        <package id="imagemagick" />
        <package id="inkscape" />
        <package id="libreoffice" />
        <package id="libreoffice-help" />
        <package id="lockhunter" />
        <package id="miktex" />
        <package id="mp3tag" />
        <package id="sumatrapdf" />
        <package id="sysinternals" />
        <package id="texstudio" />
        <package id="thunderbird" />
        <package id="virtualbox" />
        <package id="winstatdir" />
        <package id="wireshark" />
        <package id="xming" />

        <!--Cloud Storage-->
        <package id="dropbox" />
        <package id="googledrive" />
        <package id="onedrive" />

        <!--Communication Tools-->
        <package id="discord" />
        <package id="skype" />
        <package id="slack" />

        <!--Games-->
        <package id="directx" />
        <package id="leagueoflegends" />
        <package id="origin" />
        <package id="osu" />
        <package id="runescape" />
        <package id="steam" />
        <package id="uplay" />
        <package id="wesnoth" />
        <package id="battle.net" />

        <!--Emulators-->
        <package id="dolphin" />
        <package id="pcsx2" />
        <package id="retroarch" />

        <!--Web Browsers-->
        <package id="firefox" />
        <package id="googlechrome" />
        <package id="vivaldi" />

        <!--Security-->
        <package id="malwarebytes" />

        <!--Media-->
        <package id="mpchc" />
        <package id="openscad" />

    </packages>
</xml>
