/** Hide the text from the overflow menu. **/

/* Customize rows and columns for number and size of rows/cols you want */
#widget-overflow-fixed-list {
    display: grid;
    grid-template-rows: 15px 25px; /* two rows, the second one taller */
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px [col-end]; /* seven columns, with an anchorpoint at the end */
}

/* Hides labels */
#widget-overflow-fixed-list .toolbarbutton-1 > .toolbarbutton-text {
    display: none !important;
}

/* Constrains width */
#widget-overflow-mainView {
    max-width: 275px !important;
    min-width: 275px !important;
}

/* Hides "Customize Toolbar..." button */
#overflowMenu-customize-button {
    display: none !important;
}
