alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | printf '=> Public key copied to pasteboard.\n'";
alias vimplug="vim +PlugUpgrade +PlugInstall +PlugUpdate +qall"

alias sl="ls"
alias cd..="cd .."
alias c="clear"
alias h="history"
alias mkdir="mkdir -p"
alias sha1="openssl sha1"

# Git Commands
alias gs='git status '
alias ga='git add '
alias gr='git rm '
alias gc='git commit -m '
alias gb='git branch '
alias ggc='git gc'
alias gco='git checkout '
alias gcb='git checkout -b '
alias gl='git log '
alias grb='git rebase '
alias gm='git merge '
alias gr='git remote ' 
